# Archivos de la IDE y del sistema
.idea/
.gradle/
.DS_Store

# Archivos de build y de salida
/build
/captures
.cxx/
*.apk
*.aab
*.aar
*.iml

# Clases y archivos de caché
.cxx/
.externalNativeBuild/
*/gradle-wrapper.jar

# Configuración local y privada
local.properties
google-services.json
secrets.properties